* {
  font-family: "Poppins", sans-serif, 'Times New Roman', Times, serif;
  font-weight: 500 ;
  font-size: 50px;
}

.inicio {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.main-title {
  background-color: yellow;
  margin: 10px 850px;
}

.KAZU {
  border: 3px solid aquamarine;
  background-color: aqua;
}

body {
  background-color: rgb(15, 13, 13);
  border: 2px red solid;
  padding-bottom: 55px;
}

#logo {
  width: 200px;
  height: 200px;
  margin-top: -30px;
  padding: 5px;
  border: 10px;
  border-color: white;
}

h3, h2, h1, li, p {
  display: flex;
  justify-content: center;
  color: white;
}

img {
  width: 550px;
  height: 550px;
}

.menu {
  display: flex;
}

.option-one, .option-two, .option-three, .option-four{
  flex: 1;
}
